.body{
    margin: 10px;
}
h1, nav{
    text-align: center;
}
h1{
    padding: 10px;
}
nav{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;

}
.links{
    background-color: lightgray;
    padding: 20px;
    border: 1px solid black;
    font-size: 20px;
}
.footer{
    padding: 20px;
    margin: 10px;
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}